@import '../shared/variables';

.title{
    width: 100%;
    height: 350px;
    background-color: $purple;
    &-menu{
        width: 75%;
        margin: 0px auto;
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            cursor: pointer;
        }
    }
    &-text{
        width: 50%;
        margin: 0 auto;
        h1{
            width: 350px;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: $white;
        }
        h4{
            width: 283px;
            font-family: 'Poppins', sans-serif;           
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: $titlepurple;
        }
    }
}

.form{
    background-color: $backgroundcolor;
    &-box{
        width: 50%;
        min-height: 500px;
        background-color: $white;
        border: 1px solid $bordercolor;
        box-sizing: border-box;
        border-radius: 8px;
        position: absolute;
        top: 275px;
        left: 25%;
        h2{
            color: $darkpurple;
        }

        &-content{
            form{
                .form-content{
                    width: 80%;
                    margin: 0 auto;
                }
                .form-footer{
                    background-color: #FAFAFC;
                }
            }
        }
    }
    &-content{

    }
}